<!DOCTYPE html>
<html ng-app>
<head>
	<title>Weather</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
	<form name="countryName" onsubmit="return validateCountryForm()" method='post'>
		<label>Choose the country</label>
		<select type="text" id="country" name="myCountry">
			<option>LV</option>
			<option>UA</option>
			<option>UZ</option>
		</select>
		<input type="submit" value="Submit">
	</form>
	<form name="cityName" onsubmit="return validateForm()" method='post'>
		<label>Enter the city name</label>
		<!-- <input type="text" ng-model="myCity" id="city" name="myCity"> -->
		<select type="text" ng-model="myCity" id="city" name="myCity">
			<!-- <option>Riga</option>
			<option>London</option>
			<option>Uzbekistan</option>
			<option>Pakistan</option> -->
		</select>
		<input type="submit" value="Submit">
	</form>
	<!-- <p id="cityName">{{myCity}}</p> -->
	<header></header>
	<section></section>
	<script src="script2.js"></script>
	<script src="script.js"></script>
</body>
</html>